{% extends "admin_layout.html" %}
{% block content %}
<div class="container text-center mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">

    <!-- Services Card -->
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title"> summary</h5>
          <p class="card-text"> services</p>
         
          
           
              <div class="card" style="width: 18rem; margin: 0 auto;">
                
                <div class="card-body">
                 <img src="./static/images/service_request_summary.jpeg" width="200" height="200">
                  
                </div>
              </div>
            
            
         
          
         
        </div>
      </div>
    </div>

   

  </div>
</div>

{% endblock %}
