{%extends "user_layout.html"%}
{%block content%}
<div class="container text-center mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
  
      <!-- Services Card -->
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 22rem;">
          <div class="card-body">
            <h5 class="card-title">Services</h5>
            <p class="card-text">The services available</p>
            {% if service %}
            
              {% for service in service %}
                <div class="card" style="width: 18rem; margin: 0 auto;">
                  
                  <div class="card-body">
                    <h6 class="card-title">Service id: {{ service.id }}</h6>
                    <h6 class="card-title">Name: {{ service.service_name }}</h6>
                    <h6 class="card-title">Description: {{ service.description }}</h6>
                    <p class="card-text">Base price: {{ service.base_price }}</p>
                    <a href="/book_service/{{service.id}}/{{name}}" class="btn btn-primary">Book service</a>
                    
                  
                    
                  </div>
                </div>
              {% endfor %}
              
            {% else %}
              <h3>No services available </h3>
            {% endif %}
            
            
          </div>
        </div>
      </div>
      <!-- Services Card -->
     
              <div class="card" style="width: 22rem;">
                  <div class="card-body">
                      <h5 class="card-title">Service History</h5>
                      <p class="card-text">Services booked</p>
                      {% if service_request %}
                      {% for request in service_request %}
                      {%if request.user_id==name %}
                          {% if request.status == "Pending" or request.status == "Approved"  %}
                              <div class="card" style="width: 18rem; margin: 0 auto;">
                                  <div class="card-body">
                                      <h2 class="card-text">Service ID: {{ request.s_id }}</h2>
                                      <h6 class="card-title">User ID: {{ request.user_id }}</h6>
                                      <h6 class="card-title">Date: {{ request.date }}</h6>
                                      <h6 class="card-title">Status: {{ request.status }}</h6>
                                      <p class="card-text">Pro ID: {{ request.pro_id }}</p>
                                      <a href="/close_service/{{ request.s_id }}/{{ name }}" class="btn btn-primary">Close Service</a>
                                  </div>
                              </div>
                            {%else%}
                            <div class="card" style="width: 18rem; margin: 0 auto;">
                              <div class="card-body">
                                <h6 class="card-title">Service ID: {{ request.s_id }}</h6>
                                  <h6 class="card-title">User ID: {{ request.user_id }}</h6>
                                  <h6 class="card-title">Date: {{ request.date }}</h6>
                                  <h6 class="card-title">Status: {{ request.status }}</h6>
                                  <p class="card-text">Rating: {{ request.rating }}</p>
                                  
                              </div>
                          </div>
                          {% endif %}
                        {%endif%}
                      {% endfor %}
                  {% else %}
                      <p>No service requests found.</p>
                  {% endif %}
                  
                  
                    </div>

              </div>
          </div>
          
            
            
          </div>
        </div>
      </div>
{%endblock%}

</body>
</html>
